body{
    background-image: url(../img/hotel.jpg);
    background-size: cover;
}

* {
    box-sizing: border-box;
}


.container {
    margin-top: 20px;
    padding: 20px;
}

.leftColumn {
    float: left;
    width: 25%;
    padding: 20px;
}

.rightColumn {
    overflow: hidden;
    margin-top: 5%;
    float: left;
    width: 70%;
    background-color:rgba(220, 220, 220, 0.5);
    padding: 20px;

}

.data {
    margin-top: 6px;
    float: left;
}