body {
    background-image: url(../img/bg00.jpg);
    /*background: #90EE90;*/
    z-index: 99;
}

.loginLabel img {
    width: 140px;
    height: 140px;
    margin: -60px 10px 15px 0;
    border: 3px solid #191970;
    border-radius: 50%;
}

.startPageContainer {
    width: 430px;
    height: 290px;
    background-color: rgba(169, 169, 169, 0.8);
    margin: 160px auto 0 auto;
    text-align: center;
    border-radius: 10px;
}

input[type="text"] {
    width: 350px;
    height: 50px;
    font-size: 18px;
    margin: 2% 0 5% 0;
    border-radius: 6px;
    padding-left: 18px;
}

input[type="password"] {
    width: 350px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 5%;
    border-radius: 6px;
    padding-left: 18px;
}

.inputText input:hover {
    box-shadow: 0 0 8px 4px rgba(105, 105, 105, 0.35);
}

.inputText input:after {
    content: "";
    display: none;
    clear: both;
}

.submitBtn {
    padding: 15px 50px;
    margin: 0 0 20px 0;
    font-size: 16px;
    color: black;
    background-color: rgba(105, 105, 105, 0.7);
    /*     border: 1px solid; */
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: rgba(105, 105, 105, 1);
}

.wrongParametres {
    font-size: 18px;
    color: red;
    margin: -3% 0 3% 0;
}

.info {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    opacity: 0.5;
    margin-top: 15px;
    text-transform: uppercase;
}

.info:hover {
    transition: all .3s cubic-bezier(.6, 0, .4, 1);
    opacity: 1;
}

label[for="signin"] {
    margin-right: 20px;
}


input[type=radio]:checked + label {
    opacity: 1;
}








